.navbar
{
  position:relative;
  height: 40px;
  margin-bottom: 0px;
  width: 100%;
  border: 10px solid transparent;
  background-color:gray;
  

}
#header
{
  position: fixed;
}

body
{
  margin: 0 0 0 0;
  background-color: #e9ebee;
 overflow-x: hidden;
  
}

.navbar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-left: 100px;
  text-decoration: none;
  font-size: 15px;
}
.navbar-2
{
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-box-div
{
  
  margin-top: 10px;
  width: 600px;
  display: flex;
  border-color: transparent;
  justify-content: center;

}

.search-box
{
  position: relative;
  width:590px;
  height: 45px;
  font-size: 16px;
  border-color: aquamarine;
  border-radius: 15px;
  
  
}
.container
  {
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    
  }
 
.main-content
{
  background-color: whitesmoke;
  height: 100%;
  display: flex;
  width: 1070px;
  padding: 10px;
  border-radius: 15px;
  flex-direction: column;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(11, 63, 90);
  
}
h5{
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px
}
.book-shelf
{

   width: 80%;
   overflow: scroll;
   height: 600px;
   overflow-x:hidden;
  justify-content: center;
  
}

.bookInfoContainer
{
  position: relative;
  margin-left: 100px;
  height: 110px;
  background-color: #b8bec8;
  border-radius: 15px;
  display: flex;
  flex-direction:row;
  cursor:pointer;
  width:70%;
  
  

}
a{
  text-decoration-line: none;
  color: transparent;
}
.bookInfoContainer img{
  height: 100px;
  width: 100px;
  position: relative;
  margin: 5px;
  border-radius: 10px;
  
}
.book-Info{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.book{
  margin-top: 10px;
}
.book-list li a{
  display: block;
}
footer{
   position:-ms-page;
   height: 200px;
   display: flex;
   padding-left: 10px;
   flex-direction: column;
   justify-content: top;
   background-color:rgb(23, 22, 24);
   opacity:80%;
}
p{
  color: green;
  margin-left: 2px;
}
.loader {
  border: 7px solid #f3f3f3; /* Light grey */
  border-top: 7px solid gray; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-left: 350px;
  margin-top:100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.errorMessage
{
  margin-left: 350px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  
}
.errorMessage img{
  height: 300px;
  width: 300px;
 
}
.footer-distributed
{
  background-color: #172b4d;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.footer-distributed div h2{
  font-size: 30px;
  color: white;
  font-family: 'Ringside Regular SSm A','Ringside Regular SSm B','Helvetica Neue','Helvetica','Arial','sans-serif';
  margin-top: 40px;
  width: 190px;
  height: 40px;
}
.footer-distributed .footer-info{
  margin-left: 100px;
}
.about-us span{
  display: flex;
  flex-direction: row;
}
.about-us{
  margin-left: 600px;
}
.about-us span h2{
  font-size: 17px;
  color: white;
  
}
.about-us span h3{
  font-size: 17px;
  color: #0190ff;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.fa-instagram
{
  background: #125688;
  color: white;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}
.social-links
{
  margin-left: 90px;
}
.refresh-button
{
  height: 40px;
  width: 90px;
  background-color: transparent;
  border-radius: 9px;
  border-width: 1.5px;
  border-color: #0190ff;
  padding: 0px;
  cursor: pointer;
  margin-left: 100px;
}
