@media only screen and (max-device-width:480px) {

    body{
        width: 700px;
        height: 100%;
    }
    .navbar div{

        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 10px;
        
        
    }
    .footer
    {
        display: none;
    }
    .mobile-footer
    {
        
        
        display: flex;
        flex-direction: row;
        background-color: rgb(228, 226, 226);;
        position: fixed;
        justify-content: center;
        border: 2px;
        border-color: aqua;
        height: 80px;
        border: 2px;
        bottom: 0;
        width: 100%;
        box-shadow: 15px;
        color: white;
        text-align: center;
    }
    .mobile-footer button
    {
           display: flex;
           height: 70px;
           width: 100px;
           padding-top: 5px;
           border: 2px;
           background-color: transparent;
           align-self: center;
           justify-content: center;
    }
    .front-back-button
    {

        display: flex;
        flex-direction: row;

    }
    .content
    {
   
    height: 100%;
    width:620px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 90px;
    
    }
    .info-block-even img{

        width: 340px;
        height: 200px;
        margin-top: 35px;
        border-radius: 15px;
        
    }
    .info-block-odd img{

        width: 340px;
        height: 200px;
        margin-top: 35px;
        border-radius: 15px;
        
    }
    .about-us
    {
        margin-left: 40px;
    }
    .page-change-button
    {
        display: none;
    }
    
}