
@media (min-width:400px) and (max-width:743px) {
  .navbar
  {
     position:relative;
    height: 40px;
    margin-bottom: 0px;
    width: 100%;
    border: 10px solid transparent;
    background-color:gray;
    
  
  }
  body
  {
    margin: 0 0 0 0;
    background-color: white;
    
    
  }
  .bookInfoContainer
{
  position: relative;
  margin-left: 10px;
  background-color: #b8bec8;
  border-radius: 15px;
  display: flex;
  flex-direction:row;
  cursor:pointer;
  width:70%;
  
  

}
  
  .navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left: 100px;
    text-decoration: none;
    font-size: 15px;
  }
  .navbar-2
  {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .search-box-div
  {
    
    margin-top: 10px;
    width: 400px;
    display: flex;
    border-color: transparent;
    justify-content: center;
  
  }
  
  .search-box
  {
    
    width: 390px;
    height: 45px;
    font-size: 16px;
    border-color: aquamarine;
    border-radius: 15px;
    
  }
  .container
  {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    margin: 10px;
  }
  .main-content
  {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
  }
  h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    font-size: 10px;
  }
  p{
    font-size: 8px;
  }
  h4{
    font-size: 9px;
  }
  h5{
    font-family: Arial, Helvetica, sans-serif;
  }
  .offer
  {
    visibility:visible;
  
  }
  .loader {
    border: 9px solid #f3f3f3; /* Light grey */
    border-top: 9px solid gray; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin-left: 50px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .errorMessage
  {
    margin-left: 50px;
  }
  .footer-distributed{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer-distributed .footer-info{
    margin-left: 0px;
  }
  .about-us span{
    display: flex;
    flex-direction: row;
  }
  .about-us{
    margin-left: 0px;
  }
  .about-us span h2{
    font-size: 17px;
    color: white;
    
    
  }
  .about-us span h3{
    font-size: 17px;
    color: #0190ff;
    margin-left: 0px;
  }
  
}